{% extends "base.html" %}

{% block body %}
<section class="welcome hero is-small is-danger">
    <div class="container">
        <div class="hero-body">
            <p>Although Pi Day looks a bit different this year, we hope you'll join us in celebrating all things Raspberry Pi!</p>
        </div>
    </div>
</section>

<section class="section pi-day">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-desktop is-8-desktop">
                <div class="columns is-mobile is-multiline is-centered is-variable is-6">
                    <div class="column is-4-mobile is-2-tablet">
                        <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_Camera Module.svg' %}" alt="" class="is-responsive" />
                    </div>
                    <div class="column is-12-mobile is-10-tablet">
                        <div class="content">
                            <h1 class="title">Happy Pi(e) Day!!</h1>
                            <p>Pi Day takes place annually on March 14th <small><i>(because
                                𝜋 is 3.14)</i></small>, and is a celebration of all things
                                Raspberry Pi, pie, and 𝜋. Since we can't meet in-person at
                                local spaces this year, we've collected some videos from the
                                community to showcase things that folks are doing with Pi(e)s!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section what-is">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-desktop is-8-desktop">
                <div class="columns is-mobile is-multiline is-centered is-vcentered is-variable is-6">
                    <div class="column is-5-mobile is-3-tablet">
                        <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_Raspberry Pi.svg' %}" alt="" class="is-responsive" />
                    </div>
                    <div class="column is-12-mobile is-9-tablet">
                        <div class="content">
                            <h1>What is Raspberry Pi?</h1>
                            <p>The Raspberry Pi is a series of small, affordable computers that you can use to learn programming through fun, practical projects.</p>
                            <p><a href="https://raspberrypi.org/" target="_blank" class="button is-danger">Learn more at raspberrypi.org</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section sponsors">
    <div class="container">
        <div class="content has-text-centered">
            <h3>Brought you you by Fresno's maker community</h3>
        </div>
        <div class="columns is-centered is-multiline is-variable is-8">
            <div class="column is-8-tablet is-6-desktop">
                <div class="columns is-mobile is-variable is-4">
                    <div class="column is-2">
                        <a href="https://rootaccess.org/" target="_blank" class="image">
                            <img src="{% static '/static/img/rootaccess-logo.png' %}" alt="" class="is-responsive" />
                        </a>
                    </div>
                    <div class="column is-10">
                        <p><a href="https://rootaccess.org/" target="_blank">Root Access</a> is a community hackerspace located in the Tower District.</p>
                        <div class="tags">
                            <a class="tag is-twitter" href="https://twitter.com/rootaccessca" target="_blank">Twitter</a>
                            <a class="tag is-facebook" href="https://www.facebook.com/RootAccessHackerspace/" target="_blank">Facebook</a>
                            <a class="tag is-instagram" href="https://www.instagram.com/rootaccesshackerspace/" target="_blank">Instagram</a>
                            <a class="tag is-donate" href="https://rootaccess.org/donate/" target="_blank">Donate</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-8-tablet is-6-desktop">
                <div class="columns is-mobile is-variable is-4">
                    <div class="column is-2">
                        <a href="https://www.fresnoideaworks.org/" target="_blank" class="image">
                            <img src="{% static '/static/img/ideaworks-logo.png' %}" alt="" class="is-responsive" />
                        </a>
                    </div>
                    <div class="column is-10">
                        <p><a href="https://www.fresnoideaworks.org/" target="_blank">Ideaworks</a> is a community makerspace located in Downtown Fresno.</p>
                        <div class="tags">
                            <a class="tag is-twitter" href="https://twitter.com/fresnoideaworks" target="_blank">Twitter</a>
                            <a class="tag is-facebook" href="https://www.facebook.com/FresnoIdeaworks/" target="_blank">Facebook</a>
                            <a class="tag is-instagram" href="https://www.instagram.com/FresnoIdeaworks/" target="_blank">Instagram</a>
                            <a class="tag is-donate" href="https://www.fresnoideaworks.org/Donate" target="_blank">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section leds">
    <div class="container">
        <div class="columns is-mobile is-multiline is-centered is-vcentered is-variable is-6-mobile is-6-tablet is-8-desktop">
            <div class="column is-2-mobile is-1-tablet">
                <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_LED 1.svg' %}" alt="" class="is-responsive" />
            </div>
            <div class="column is-2-mobile is-1-tablet is-offset-1-tablet">
                <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_LED 4.svg' %}" alt="" class="is-responsive" />
            </div>
            <div class="column is-2-mobile is-1-tablet is-offset-1-tablet">
                <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_LED 5.svg' %}" alt="" class="is-responsive" />
            </div>
            <div class="column is-2-mobile is-1-tablet is-offset-1-tablet">
                <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_LED 3.svg' %}" alt="" class="is-responsive" />
            </div>
            <div class="column is-2-mobile is-1-tablet is-offset-1-tablet">
                <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_LED 2.svg' %}" alt="" class="is-responsive" />
            </div>
            <div class="column is-2-mobile is-1-tablet is-offset-1-tablet">
                <img src="{% static '/static/img/jam/Raspberry-Jam-Graphics_LED 6.svg' %}" alt="" class="is-responsive" />
            </div>
        </div>
    </div>
</section>

<section class="section videos">
    <div class="columns is-multiline is-variable is-8">
    {% get_videos "videos" %}
    {% for video in videos %}
        <div class="column is-6">
            <div class="card video">
                <div class="card-image">
                    {% if video.youtube_id %}
                    <div class="embed-container">
                        <iframe width="100%" height="auto" src="https://youtube.com/embed/{{ video.youtube_id }}" allowfullscreen></iframe>
                        <!-- <iframe width="100%" height="auto" src="https://www.youtube.com/embed/LA5Eqybk4QY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    </div>
                    {% endif %}
                </div>
                <div class="card-content">
                    <div class="content">
                        <p class="project">{{ video.project }}</p>
                        <p class="name">
                            {% if video.url %}
                                <a href="{{ video.url }}">{{ video.name }}</a>
                            {% else %}
                                {{ video.name }}
                            {% endif %}
                        </p>
                        {{ video.description|urlize|linebreaks }}
                    </div>
                </div>
            </div>

            <div class="wire">
                <img src="{% random_wire forloop.counter0 %}" alt="" class="is-responsive" />
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}
